<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/styles/editProfile.css}" rel="stylesheet">
</head>

<body>
    <!--Left sidebar-->
    <div id="leftSidebar" style="height: 100%; width: 12%; border-style: solid; position: fixed; overflow-y: scroll; border-top: none;
    border-left: none; border-bottom: none; border-width: 0.01em; border-color: gray; display: flex; flex-direction: column;
    align-items: start; padding: 0.5em 1em;">
        <h1 style="font-family: Billabong; font-size:2.4em;">Megagram</h1>

        <div onclick="takeUserHome()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/homeIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Home</p>
        </div>

        <div onclick="takeUserToSearch()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/searchIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Search</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/exploreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Explore</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/reelsIcon2.png}" style="object-fit: contain; height: 2.1em; width: 2.1em;">
            <p>Reels</p>
        </div>

        <div onclick="takeUserToMessages()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/messagesIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Messages</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/blankHeart.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Notifications</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/createIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Create</p>
        </div>

        <div onclick="takeUserToOwnProfile()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img id="profileIconInLeftSidebar" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Profile</p>
        </div>


        <div style="position: relative; height: 90%;">
            <div class="hoverableElement" style="position: absolute; top: 90%; display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; height: 7.25em; border-radius: 0.85em; position: relative;">
                <img th:src="@{/images/moreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
                <p id="toggleLeftSidebarPopupMoreOrLessText" onclick="toggleLeftSidebarPopup()">More</p>

                <div class="hidden" id="leftSidebarPopup" style="background-color: white; border-style: solid; position: absolute;
                top: -200%; left: -6%; width: 85%; padding: 0.5em 1em; border-radius: 0.85em; overflow-y: scroll">
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Settings</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Your Activity</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Saved</p>
                    <p onclick="takeUserToLogin()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Switch accounts</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Log out</p>
                </div>

            </div>
        </div>

    </div>

    <!--Main Section-->
    <div id="mainSection" style="display: flex; flex-direction: column; margin-left: 20%; height: 78em; width: 80%;">
        <h2>Edit profile</h2>

        <br>

        <div style="display: flex; align-items: center; justify-content: space-between; background-color: #f7f7f7; border-radius: 0.87em;
        width: 80%; padding: 1em 1.8em; cursor: pointer;">

            <div style="display: flex; align-items: center; gap: 1em;">
                <img id="authUserProfilePhoto" style="height: 3em; width: 3em; object-fit: contain;">
                <div style="display: flex; flex-direction: column; margin-top: 0.7em;">
                    <p th:text="${authenticatedUsername}" style="font-weight: bold"></p>
                    <p id="fullNameInTopDiv" style="color: gray; margin-top: 0.2em;"></p>
                </div>
            </div>

            <button onclick="showChangeProfilePhotoPopup()" type="button" class="blueButton">Change photo</button>

        </div>

        <br>

        <h3>Username</h3>
        <small id="usernameError" class="hidden" style="color: red;">**Must be between 1 and 30 characters and only A-Z/a-z/0-9/./_ is allowed.</small>
        <textarea id="usernameTextarea" style="font-family: Arial; resize: none; padding-top: 1em; padding-right: 1em;
        padding-left: 1em; width: 82%; background-color: #f7f7f7; border-radius: 0.87em; font-size: 1em;"></textarea>

        <br>
        <br>

        <h3>Full-Name</h3>
        <small id="fullNameError" class="hidden" style="color: red;">**Must be between 1 and 30 characters and only A-Z/a-z. At-least one-space, but not at the start.</small>
        <textarea id="fullNameTextarea" style="font-family: Arial; resize: none; padding-top: 1em; padding-right: 1em;
        padding-left: 1em; width: 82%; background-color: #f7f7f7; border-radius: 0.87em; font-size: 1em;"></textarea>

        <br>
        <br>

        <h3>Website</h3>
        <textarea id="websiteTextarea" placeholder="https://therock.komi.io/" style="font-family: Arial; resize: none; padding-top: 1em; padding-right: 1em;
        padding-left: 1em; width: 82%; background-color: #f7f7f7; border-radius: 0.87em; font-size: 1em;"></textarea>

        <br>
        <br>

        <h3>Bio</h3>
        <textarea id="bioTextarea" placeholder="its about drive its about power we stay hungry we devour" style="font-family: Arial; resize: none; padding-top: 1em; padding-right: 1em;
        padding-left: 1em; width: 82%; height: 12%; background-color: #f7f7f7; border-radius: 0.87em; font-size: 1em;" maxlength="250"></textarea>
        <div style="width: 86%; display: flex; justify-content: flex-end;">
            <p style="font-size: 0.9em; color: gray;"><span id="numCharactersInBio">0</span>/250</p>
        </div>

        <h3>Account Based-In</h3>
        <textarea id="accountBasedInTextarea" style="font-family: Arial; resize: none; padding-top: 1em; padding-right: 1em;
        padding-left: 1em; width: 82%; background-color: #f7f7f7; border-radius: 0.87em; font-size: 1em;"></textarea>

        <br>
        <br>
        
        <h3>Account-Visibility</h3>
        <select id="accountVisibilitySelection" name="visibility" style="width: 12%; padding: 0.5em 1em; background-color: #f7f7f7;">
        </select>

        <br>
        <br>

        <b onclick="showDeleteAccountConfirmationPopup()" style="color: red; font-size: 0.9em; cursor: pointer;">Delete account</b>

        <br>
        <br>

        <div style="width: 80%; display: flex; justify-content: center;">
            <p id="submissionErrorMessage" class="hidden" style="color: white; background-color: black; width: 17%; text-align: center;"></p>
            <p id="submissionSuccessMessage" class="hidden" style="color: white; background-color: black; width: 17%; text-align: center;">Changes successfully made</p>
            <button id="submitButton" onclick="onSubmit()" type="button" class="blueButton" style="width: 32%;">Submit</button>
        </div>


    </div>

    <div id="accountNotFoundOrBlocksYou" class="hidden">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, but the page you are looking for does not exist.</p>
        <a href="http://localhost:3100">Go Back Home</a>
    </div>


    <img id="darkScreen" class="hidden" th:src="@{/images/blackScreen.png}" style="position: absolute; top: 0%; left: 0%; height: 150%; width: 100%; opacity: 0.7">

    <!--Popups-->
    <div id="changeProfilePhotoPopup" class="hidden" style="position: absolute; top: 35%; left: 38%; border-radius: 1em; background-color: white; width: 33%; height: 29%; border-style: solid; z-index: 10;
    display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="width: 100%; border-style: solid; border-color: lightgray; border-width:0.12em; text-align: center;
        border-top: none; border-left: none; border-right: none;">
            <p style="font-size: 1.4em;">Change profile picture</p>
        </div>

        <div style="width: 100%; border-style: solid; border-color: lightgray; border-width:0.12em; text-align: center;
        border-top: none; border-left: none; border-right: none; padding-top: 1em; padding-bottom: 1em;">
            <b onclick="uploadNewPhoto()" style="color: #2789f2; cursor: pointer;">Upload photo</b>
        </div>

        <div style="width: 100%; border-style: solid; border-color: lightgray; border-width:0.12em; text-align: center;
        border-top: none; border-left: none; border-right: none; padding-top: 1em; padding-bottom: 1em;">
                <b onclick="removeCurrentPhoto()" style="color: red; cursor: pointer;">Remove current photo</b>
        </div>

        <div style="width: 100%; text-align: center; padding-top: 0.6em; padding-bottom: 0.6em;">
            <p onclick="closeChangeProfilePhotoPopup()" style="cursor: pointer;">Cancel</p>
        </div>
    </div>

    <div id="deleteAccountConfirmationPopup" class="hidden" style="position: absolute; top: 45%; left: 38%; border-radius: 1em; background-color: white; width: 33%; height: 29%; border-style: solid; z-index: 10;
    display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="width: 100%; border-style: solid; border-color: lightgray; border-width:0.12em; text-align: center;
        border-top: none; border-left: none; border-right: none;">
            <p style="font-size: 1.4em;">Are you sure?</p>
            <p style="font-size: 0.8em; color: gray; width: 65%; margin-left: 15%;">This action is irreversible. After deleting, all of your data will be removed. It will appear as though
            your account never even existed in the first place.</p>
        </div>

        <div style="width: 100%; border-style: solid; border-color: lightgray; border-width:0.12em; text-align: center;
        border-top: none; border-left: none; border-right: none; padding-top: 1em; padding-bottom: 1em;">
                <b onclick="showFinalConfirmationPopup()" style="color: red; cursor: pointer;">Proceed</b>
        </div>

        <div style="width: 100%; text-align: center; padding-top: 0.6em; padding-bottom: 0.6em;">
            <p onclick="closeDeleteAccountConfirmationPopup()" style="cursor: pointer;">Cancel</p>
        </div>

    </div>

    <div id="finalDeleteAccountConfirmationPopup" class="hidden" style="position: absolute; top: 45%; left: 38%; border-radius: 1em; background-color: white; width: 33%; height: 34%; border-style: solid; z-index: 10;
    display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h2>Last Chance</h2>
            <p style="color: gray; font-size:0.8em; text-align: center; max-width: 66%;">To finalize the deletion of your account once and for all, enter your username for the last time</p>
            <textarea id="oneLastUsernameTextarea" placeholder="Sad to see you go!" style="padding-top: 0.75em; padding-left: 0.75em; width: 66%; font-family: Arial; resize: none;"></textarea>
            <br>
            <button onclick="deleteAccount()" id="goodbyeButton" class="hidden" style="color: white; background-color: red; font-weight: bold; cursor: pointer; padding: 0.5em 1em; border-radius: 0.8em;">Goodbye</button>
            <br>
            <button onclick="closeFinalConfirmationPopup()" id="noWaitCancelbutton" style="color: white; background-color: black; font-weight: bold; cursor: pointer; padding: 0.5em 1em; border-radius: 0.8em;">No wait! Cancel</button>
    </div>

    <p id="authenticatedUsername" class="hidden" th:text="${authenticatedUsername}"></p>
    <input id="fileInputForProfilePhoto" type="file" class="hidden">
    <script th:src="@{/scripts/editProfile.js}"></script>
</body>

</html>