<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/styles/notifications.css}" rel="stylesheet">
</head>

<body>
    <!--Left sidebar-->
    <div id="leftSidebar" style="height: 100%; width: 12%; border-style: solid; position: fixed; overflow-y: scroll; border-top: none;
    border-left: none; border-bottom: none; border-width: 0.01em; border-color: gray; display: flex; flex-direction: column;
    align-items: start; padding: 0.5em 1em; z-index: 10; background-color: white;">
        <h1 style="font-family: Billabong; font-size:2.4em;">Megagram</h1>

        <div onclick="takeUserHome()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/homeIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Home</p>
        </div>

        <div onclick="takeUserToSearch()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/searchIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Search</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/exploreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Explore</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/reelsIcon2.png}" style="object-fit: contain; height: 2.1em; width: 2.1em;">
            <p>Reels</p>
        </div>

        <div onclick="takeUserToMessages()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/messagesIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Messages</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/blankHeart.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Notifications</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/createIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Create</p>
        </div>

        <div onclick="takeUserToOwnProfile()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img id="profileIconInLeftSidebar" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Profile</p>
        </div>


        <div style="position: relative; height: 90%;">
            <div class="hoverableElement" style="position: absolute; top: 90%; display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; height: 7.25em; border-radius: 0.85em; position: relative;">
                <img th:src="@{/images/moreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
                <p id="toggleLeftSidebarPopupMoreOrLessText" onclick="toggleLeftSidebarPopup()">More</p>

                <div class="hidden" id="leftSidebarPopup" style="background-color: white; border-style: solid; position: absolute;
                top: -200%; left: -6%; width: 85%; padding: 0.5em 1em; border-radius: 0.85em; overflow-y: scroll">
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Settings</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Your Activity</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Saved</p>
                    <p onclick="takeUserToLogin()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Switch accounts</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Log out</p>
                </div>

            </div>
        </div>

    </div>


    <!--Notifications Section-->
    <div id="notificationsSection" style="position: absolute; top: 0%; left: 15%; width: 85%; display: flex; flex-direction: column;
    padding: 1em 2em;">

        <div style="display: flex; justify-content: space-between; width: 85%; align-items: center;">
            <h1>Notifications</h1>
            <div style="display: flex; align-items: center; gap: 1.4em; cursor: pointer;">
                <img id="redDotForFollowRequests" class="hidden" th:src="@{/images/redDot.png}" style="height: 1em; width: 1em; pointer-events: none; object-fit: contain;">
                <b id="followRequestsText" onclick="showFollowRequests()" style="color: gray;"></b>
            </div>
        </div>

        <b id="totalAndUnreadNotificationsText" style="color: gray;"></b>

        <br>
        <br>

    </div>


    <!--Follow-Requests Section-->
    <div id="followRequestsSection" class="hidden" style="position: absolute; top: 0%; left: 15%; width: 85%; display: flex; flex-direction: column;
    padding: 1em 2em;">
        <div style="display: flex; justify-content: space-between; width: 85%; align-items: center;">
            <h1>Follow Requests</h1>
            <div style="display: flex; align-items: center; gap: 1.4em; cursor: pointer;">
                <img id="redDotForNotifications" th:src="@{/images/redDot.png}" style="height: 1em; width: 1em; pointer-events: none; object-fit: contain;">
                <b id="notificationsText" onclick="showNotifications()" style="color: gray;"></b>
            </div>
        </div>


        <b id="totalAndUnreadFollowRequestsText" style="color: gray;">4 total, 4 unread</b>

        <br>
        <br>


    </div>


    <img id="darkScreen" class="hidden" th:src="@{/images/blackScreen.png}" style="position: absolute; top: 0%; left: 0%; height: 150%; width: 100%; opacity: 0.7;
    z-index:12;">

    <!--Account not Found-->
    <div id="accountNotFound" class="hidden">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, but the page you are looking for does not exist.</p>
        <a href="http://localhost:3100">Go Back Home</a>
    </div>

    <!--Notification Delete-Confirmation Popup-->
    <div id="confirmNotificationDeletePopup" class="hidden" style="position: fixed; background-color: white; z-index: 13; top: 35%; left: 40%; width: 25%; height: 25%;
    border-radius: 0.85em; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h3 style="text-align: center;">Delete this notification?</h3>
        <p onclick="removeNotification()" style="color: red; font-size: 1.2em; cursor: pointer;">Yes</p>
        <hr style="color: lightgray; width: 98%;">
        <p onclick="cancelNotificationDelete()" style="font-size: 1.05em; cursor: pointer;">No</p>
    </div>




    <p id="authenticatedUsername" th:text="${authenticatedUsername}" class="hidden"></p>
    <script th:src="@{/scripts/notifications.js}"></script>

</body>

</html>