<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${profileUsername} + '\'s page'"></title>
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/styles/profilePage.css}" rel="stylesheet">
</head>
<body>

    <!--Left sidebar-->
    <div id="leftSidebar" style="height: 100%; width: 12%; border-style: solid; position: fixed; overflow-y: scroll; border-top: none;
    border-left: none; border-bottom: none; border-width: 0.01em; border-color: gray; display: flex; flex-direction: column;
    align-items: start; padding: 0.5em 1em;">
        <h1 style="font-family: Billabong; font-size:2.4em;">Megagram</h1>

        <div onclick="takeUserHome()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/homeIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Home</p>
        </div>

        <div onclick="takeUserToSearch()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/searchIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Search</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/exploreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Explore</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/reelsIcon2.png}" style="object-fit: contain; height: 2.1em; width: 2.1em;">
            <p>Reels</p>
        </div>

        <div onclick="takeUserToMessages()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/messagesIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Messages</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/blankHeart.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Notifications</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/createIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Create</p>
        </div>

        <div onclick="takeUserToOwnProfile()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/homeIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Profile</p>
        </div>


        <div style="position: relative; height: 90%;">
            <div onclick="toggleLeftSidebarPopup()" class="hoverableElement" style="position: absolute; top: 90%; display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; height: 7.25em; border-radius: 0.85em; position: relative;">
                <img th:src="@{/images/moreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
                <p>More</p>

                <div class="hidden" id="leftSidebarPopup" style="background-color: white; border-style: solid; position: absolute;
                top: -200%; left: -6%; width: 85%; padding: 0.5em 1em; border-radius: 0.85em; overflow-y: scroll">
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Settings</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Your Activity</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Saved</p>
                    <p onclick="takeUserToLogin()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Switch accounts</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Log out</p>
                </div>

            </div>
        </div>


        <img id="blackScreenForLeftSidebar" th:src="@{/images/blackScreen.png}" class="hidden" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; opacity: 0.7">
    </div>

    <!--Main Section-->
    <div id="mainSection" style="margin-left: 14.5%; height: 100%; padding: 0.5em 1em; position: relative;
    display: flex; flex-direction: column; align-items: start; padding-left: 15%;">

        <div style="display: flex; justify-content: center; align-items: center; padding-right: 12%; gap: 3em;">
            <img id="profilePhotoAtTop" th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6em; width: 6em;">
            <div style="display: flex; flex-direction: column; align-items: start;">
                <div style="display: flex; align-items: center;">
                    <p id="profileUsernameAtTop" th:text="${profileUsername}" class="hidden" style="font-size:1.3em;"></p>
                    <img id="profileUsernameVerifiedCheck" th:src="@{/images/verifiedCheck.png}" class="hidden" style="object-fit: contain; height: 1.7em; width: 1.7em; pointer-events: none;">

                    <button onclick="toggleFollow()" id="followButton" class="blueButton hidden" type="button" style="margin-left: 2.5em;">Follow</button>

                    <button onclick="unblockUser()" id="unblockButton" class="blueButton hidden" type="button" style="margin-left: 2.5em;">Unblock</button>

                    <button onclick="cancelFollowRequest()" id="unrequestButton" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    margin-left: 1.2em; border-radius: 0.4em; font-weight:bold;">Requested</button>

                    <button onclick="toggleFollow()" id="followingButton" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    margin-left: 1.2em; border-radius: 0.4em; font-weight:bold;">Following</button>

                    <button onclick="messageUser()" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    margin-left: 1.2em; border-radius: 0.4em; font-weight:bold;">Message</button>

                    <button id="showSimilarAccountsIcon" onclick="toggleSimilarAccounts()" type="button" style="border-radius: 0.4em; cursor: pointer; margin-left: 1.2em; border-style: none;"> <img th:src="@{/images/showSimilarAccountsIcon.png}" style="object-fit: contain; height: 1.7em; width: 1.7em;"></button>
                    <button id="showSimilarAccountsIcon2" onclick="toggleSimilarAccounts()" type="button" class="hidden" style="border-radius: 0.4em; cursor: pointer; margin-left: 1.2em; border-style: none;"> <img th:src="@{/images/showSimilarAccountsIcon2.png}" style="object-fit: contain; height: 1.7em; width: 1.7em;"></button>
                    <img th:src="@{/images/optionsDots.png}" onclick="showOptionsPopup()" style="object-fit: contain; height: 1.7em; width: 1.7em; cursor: pointer; margin-left: 1.2em; border-style: none;">
                </div>

                <div style="display: flex; align-items: center; gap: 4em;">
                    <p> <b id="profileUserNumPosts"></b> <span id="postOrPostsText"></span></p>
                    <p onclick="showListOfFollowersPopup()" style="cursor: pointer;"> <b id="profileUserNumFollowers"></b> followers</p>
                    <p onclick="showListOfFollowingsPopup()" style="cursor: pointer;"> <b id="profileUserNumFollowings"></b> following</p>
                </div>

                <br>
                <br>
                
                <b id="profileFullName" style="font-size: 0.84em; margin-top: -1em;"></b>
                <p style="font-size: 0.86em; max-width: 22em;">builder of stuff
                    cheat meal crusher
                    tequila sipper</p>

                <div style="display: flex; align-items: center; gap: 0.2em;">
                    <img th:src="@{/images/linkIcon.png}" style="height: 1.2em; width: 1.2em; object-fit: contain; pointer-events: none;">
                    <a href="https://therock.komi.io/" style="font-size: 0.85em; font-weight: bold; color: #3a53a6; text-decoration: none;">
                        therock.komi.io
                    </a>
                </div>
        

                <p id="followedByText" onclick="showListOfMutualFollowersPopup()" class="hidden" style="color: #979899; font-size: 0.76em; cursor: pointer;">Followed by <span class="hidden" style="color: black;"></span></p>

            </div>
        </div>

        <div id="suggestedAccounts" class="hidden" style="display: flex; flex-direction: column; align-items: start; margin-top: 1.5em; width: 50%;">
            <div style="display: flex; width: 100%; gap: 28em;">
                <b>Suggested for you</b>
                <b style="font-size:0.85em; color:#2789f2; cursor: pointer;">See all</b>
            </div>

            <br>

            <div style="display: flex; align-items: center; width: 100%; overflow-x: scroll; height: 12em;
            gap: 1.2em;">

                <div id="suggestedAccountchrishemsworth" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border-style: solid;
                border-width: 0.01em; border-color: gray; padding: 2.1em 2.4em; font-size: 0.73em; height: 70%; border-radius: 0.3em;
                position: relative;">
                    <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 5em; width: 5em; cursor: pointer;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <b>chrishemsworth</b>
                        <img th:src="@{/images/verifiedCheck.png}" style="object-fit: contain; height: 1.3em; width: 1.3em;">
                    </div>
                    <p>Chris Hemsworth</p>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'chrishemsworth')" id="suggestedAccountsFollowchrishemsworth"
                    class="blueButton" type="button" style="padding: 0.2em 1em; font-size: 0.96em;">Follow</button>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'chrishemsworth')" id="suggestedAccountsFollowingchrishemsworth" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    border-radius: 0.4em; font-weight:bold;">Following</button>
                    <img onclick="removeSuggestedAccount('chrishemsworth')" th:src="@{/images/thinGrayXIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.6em; cursor: pointer;
                    position: absolute; top: 8%; left: 85%;">
                </div>

                <div id="suggestedAccountjohncena" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border-style: solid;
                border-width: 0.01em; border-color: gray; padding: 2.1em 2.4em; font-size: 0.73em; height: 70%; border-radius: 0.3em;
                position: relative;">
                    <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 5em; width: 5em; cursor: pointer;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <b>johncena</b>
                        <img th:src="@{/images/verifiedCheck.png}" style="object-fit: contain; height: 1.3em; width: 1.3em;">
                    </div>
                    <p>John Cena</p>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'johncena')" id="suggestedAccountsFollowjohncena"
                    class="blueButton" type="button" style="padding: 0.2em 1em; font-size: 0.96em;">Follow</button>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'johncena')" id="suggestedAccountsFollowingjohncena" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    border-radius: 0.4em; font-weight:bold;">Following</button>
                    <img onclick="removeSuggestedAccount('johncena')" th:src="@{/images/thinGrayXIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.6em; cursor: pointer;
                    position: absolute; top: 8%; left: 85%;">
                </div>

                <div id="suggestedAccountkevinhart4real" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border-style: solid;
                border-width: 0.01em; border-color: gray; padding: 2.1em 2.4em; font-size: 0.73em; height: 70%; border-radius: 0.3em;
                position: relative;">
                    <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 5em; width: 5em; cursor: pointer;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <b>kevinhart4real</b>
                        <img th:src="@{/images/verifiedCheck.png}" style="object-fit: contain; height: 1.3em; width: 1.3em;">
                    </div>
                    <p>Kevin Hart</p>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'kevinhart4real')" id="suggestedAccountsFollowkevinhart4real"
                    class="blueButton" type="button" style="padding: 0.2em 1em; font-size: 0.96em;">Follow</button>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'kevinhart4real')" id="suggestedAccountsFollowingkevinhart4real" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    border-radius: 0.4em; font-weight:bold;">Following</button>
                    <img onclick="removeSuggestedAccount('kevinhart4real')" th:src="@{/images/thinGrayXIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.6em; cursor: pointer;
                    position: absolute; top: 8%; left: 85%;">
                </div>

                <div id="suggestedAccountmarvelstudios" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border-style: solid;
                border-width: 0.01em; border-color: gray; padding: 2.1em 2.4em; font-size: 0.73em; height: 70%; border-radius: 0.3em;
                position: relative;">
                    <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 5em; width: 5em; cursor: pointer;">
                    <b>marvelstudios</b>
                    <p>Marvel Studios</p>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'marvelstudios')" id="suggestedAccountsFollowmarvelstudios"
                    class="blueButton" type="button" style="padding: 0.2em 1em; font-size: 0.96em;">Follow</button>
                    <button onclick="toggleFollowInPopup('suggestedAccounts', 'marvelstudios')" id="suggestedAccountsFollowingmarvelstudios" class="hidden" type="button" style="cursor: pointer; background-color: #edeff0; padding: 0.5em 1em; border-style: none;
                    border-radius: 0.4em; font-weight:bold;">Following</button>
                    <img onclick="removeSuggestedAccount('marvelstudios')" th:src="@{/images/thinGrayXIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.6em; cursor: pointer;
                    position: absolute; top: 8%; left: 85%;">
                </div>

            </div>

        </div>

        <div style="display: flex; align-items: center; justify-content: start; margin-top: 1.5em; overflow-x: scroll;
        width: 40%;">
            <div style="display: flex; flex-direction: column; align-items: center; gap: 0.5em;">
                <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6.2em; width: 6.2em; cursor: pointer;">
                <b style="font-size: 0.7em; margin-top: 0.3em;">TIKTOK</b>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6.2em; width: 6.2em;  cursor: pointer;">
                <b style="font-size: 0.7em; margin-top: 0.3em;">TWITTER</b>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6.2em; width: 6.2em;  cursor: pointer;">
                <b style="font-size: 0.7em; margin-top: 0.3em;">FACEBOOK</b>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6.2em; width: 6.2em;  cursor: pointer;">
                <b style="font-size: 0.7em; margin-top: 0.3em;">YOUTUBE</b>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img th:src="@{/images/profilePhoto.png}" style="object-fit: contain; height: 6.2em; width: 6.2em;  cursor: pointer;">
                <b style="font-size: 0.7em; margin-top: 0.3em;">YOUTUBE</b>
            </div>
        </div>

        <!--Posts/Reels/Tagged section-->
        <div id="postsReelsTaggedSection" style="border-style: solid; border-bottom: none; border-left: none; border-right: none; border-color: lightgray;
        border-width: 0.08em; width: 75%; margin-top: 4em;">

            <div style="display: flex; gap: 5em; justify-content: center; color: gray; font-size: 0.8em; padding-top: 1.6em;">

                <div onclick="showPosts()" style="display: flex; align-items: center; gap: 0.3em; cursor: pointer;">
                    <img id="postsGridIcon2" th:src="@{/images/postsGridIcon2.png}" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <img id="postsGridIcon" th:src="@{/images/postsGridIcon.png}" class="hidden" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <b id="postsText" style="color: black; font-size: 1.15em;">POSTS</b>
                </div>

                <div onclick="showReels()" style="display: flex; align-items: center; gap: 0.3em; cursor: pointer;">
                    <img id="reelsIcon" th:src="@{/images/reelsIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <img id="reelsIcon2" th:src="@{/images/reelsIcon2.png}" class="hidden" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <b id="reelsText">REELS</b>
                </div>

                <div onclick="showTaggedPosts()" style="display: flex; align-items: center; gap: 0.3em; cursor: pointer;">
                    <img id="taggedPostsIcon" th:src="@{/images/taggedPostsIcon.png}" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <img id="taggedPostsIcon2" th:src="@{/images/taggedPostsIcon2.png}" class="hidden" style="object-fit: contain; height: 1.6em; width: 1.8em; pointer-events: none;">
                    <b id="taggedText">TAGGED</b>
                </div>
            </div>

            <div id="imageGrid" style="margin-top: 1.4em; display: flex; flex-direction: column; align-items: start; gap: 0.5em;">

                <!--div style="display: flex; justify-content: start; align-items: center; width: 100%; gap: 0.4em;">
                    <div style="position: relative; width: 37%;">
                        <img id="post1" onmouseenter="showNumLikesAndCommentsOfPost('post1')" onmouseleave="hideNumLikesAndCommentsOfPost('post1')"  th:src="@{/images/sampleImage.jpg}"
                        style="cursor: pointer; height: 20em; width: 100%;">
                        <img th:src="@{/images/whiteReelsIcon.png}" style="position: absolute; left: 87%; top: 3%; height: 1.9em; width: 1.9em; object-fit: contain;">
                        <img id="post1WhiteHeartIcon" class="hidden" th:src="@{/images/whiteHeartIcon.png}" style="object-fit: contain; height: 2em; width: 2em; position: absolute;
                        left: 20%; top: 45%;">
                        <b id="post1NumLikes" class="hidden" style="color: white; position: absolute; left: 33%; top: 47%;">251K</b>
                        <img id="post1WhiteCommentIcon" class="hidden" th:src="@{/images/whiteCommentIcon.png}" style="object-fit: contain; height: 2em; width: 2em; position: absolute;
                        left: 53%; top: 45%;">
                        <b id="post1NumComments" class="hidden" style="color: white; position: absolute; left: 65%; top: 47%;">1,821</b>
                    </div>
                
                </div-->


            </div>

        </div>

        <!--Posts/Reels/Tagged Section for When the Account is Private or Has no Posts-->
        <div id="accountIsPrivateOrHasNoPosts" class="hidden" style="border-style: solid; border-bottom: none; border-left: none; border-right: none; border-color: lightgray;
        border-width: 0.08em; width: 75%; margin-top: 4em; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 28em;">
            <img th:src="@{/images/lockInCircleIcon.png}" class="hidden" style="pointer-events: none; height: 6.3em; width: 6.3em; object-fit: contain;">
            <b class="hidden">This account is private</b>
            <p class="hidden" style="color: gray;">Follow to see their photos and videos.</p>

            <img class="hidden" th:src="@{/images/cameraInCircleIcon.png}" style="pointer-events: none; height: 6.8em; width: 6.8em; object-fit: contain;">
            <h2 class="hidden">No Posts Yet</h2>
        </div>

        <img id="blackScreenForMainSection" th:src="@{/images/blackScreen.png}" class="hidden" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; opacity: 0.7">


        <!--POPUPS-->
        <!--List of Followers Popup-->
        <div id="listOfFollowersPopup" class="hidden" style="position: absolute; left: 28%; top: 18%; z-index: 10; background-color: white; width: 27%; height: 40%; border-style: solid;
        display: flex; flex-direction: column; align-items: start; border-radius: 0.7em; overflow-y: scroll;">

            <div style="display: flex; justify-content: center; width: 100%; padding-top: 0.4em;">
                <b>Followers</b>
                <img onclick="closeListOfFollowersPopup()" th:src="@{/images/thinGrayXIcon.png}" style="position: absolute; object-fit: contain; height: 1.2em; width: 1.2em;
                cursor: pointer; left: 94%; top: 2%;">
            </div>

            <hr style="color: lightgray; width: 100%;">

        </div>

        <!--List of Followings Popup-->
        <div id="listOfFollowingsPopup" class="hidden" style="position: absolute; left: 28%; top: 18%; z-index: 10; background-color: white; width: 27%; height: 40%; border-style: solid;
        display: flex; flex-direction: column; align-items: start; border-radius: 0.7em; overflow-y: scroll;">

            <div style="display: flex; justify-content: center; width: 100%; padding-top: 0.4em;">
                <b style="text-align: center;">Followings</b>
                <img onclick="closeListOfFollowingsPopup()" th:src="@{/images/thinGrayXIcon.png}" style="position: absolute; object-fit: contain; height: 1.2em; width: 1.2em;
                cursor: pointer; left: 94%; top: 2%;">
            </div>

            <hr style="color: lightgray; width: 100%;">

        </div>

        <!--List of Mutual Followers Popup-->
        <div id="listOfMutualFollowersPopup" class="hidden" style="position: absolute; left: 28%; top: 18%; z-index: 10; background-color: white; width: 27%; height: 40%; border-style: solid;
        display: flex; flex-direction: column; align-items: start; border-radius: 0.7em;">

            <div style="display: flex; justify-content: center; width: 100%; padding-top: 0.4em;">
                <b style="text-align: center;">Mutual Followers</b>
                <img onclick="closeListOfMutualFollowersPopup()" th:src="@{/images/thinGrayXIcon.png}" style="position: absolute; object-fit: contain; height: 1.2em; width: 1.2em;
                cursor: pointer; left: 94%; top: 2%;">
            </div>

            <hr style="color: lightgray; width: 100%;">
    
        </div>

        <!--Options Popup-->
        <div id="optionsPopup" class="hidden" style="position: absolute; left: 28%; top: 18%; z-index: 10; background-color: white; width: 27%; height: 18%; border-style: solid;
        border-radius: 0.7em; overflow-y: scroll; padding-top: 0.4em; font-size: 0.83em;">
            <p id="optionToBlockOrUnblock" onclick="blockUser()" style="color: red; text-align: center; cursor: pointer; font-weight: bold;">Block</p>
            <hr style="color: #f5f5f5; width: 100%;">
            <p style="text-align: center; cursor: pointer;">Share to...</p>
            <hr style="color: #f5f5f5; width: 100%;">
            <p style="text-align: center; cursor: pointer;">Embed</p>
            <hr style="color: #f5f5f5; width: 100%;">
            <p onclick="showAboutAccountPopup()" style="text-align: center; cursor: pointer;">About this account</p>
            <hr style="color: #f5f5f5; width: 100%;">
            <p onclick="cancelOptionsPopup()" style="text-align: center; cursor: pointer;">Cancel</p>
        </div>

        <!--About-Account Popup-->
        <div id="aboutAccountPopup" class="hidden" style="position: absolute; left: 28%; top: 12%; z-index: 10; background-color: white; width: 27%; height: 44%; border-style: solid;
        display: flex; flex-direction: column; align-items: start; border-radius: 0.7em;">
            
            <div style="border-style: solid; border-left: none; border-top: none; border-right: none; width: 100%; border-color: lightgray;">
                <p style="text-align: center; font-weight: bold;">About this account</p>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                <img id="aboutAccountProfilePhoto" th:src="@{/images/profilePhoto.png}" style="height: 5em; width: 5em; object-fit: contain;">
                <div style="display: flex; align-items: center; justify-content: center; margin-top:0.7em;">
                    <b th:text="${profileUsername}" id="aboutAccountUsername"></b>
                    <img id="aboutAccountVerifiedIcon" th:src="@{/images/verifiedCheck.png}" class="hidden" style="object-fit: contain; height: 1.3em; width: 1.3em;">
                </div>
                <p style="font-size:0.9em; color: gray; max-width: 75%; text-align: center;">To help keep our community authentic, we're showing information about accounts on Megagram.</p>
            </div>

            <div style="display: flex; align-items: center; width: 100%; padding: 0.5em 1em; gap: 0.5em;">
                <img th:src="@{/images/calendarIcon.png}" style="object-fit: contain; height: 1.8em; width: 1.8em; pointer-events: none;">
                <div style="display: flex; flex-direction: column; justify-content: center; margin-top: 1em;">
                    <b style="font-size:0.9em;">Date joined</b>
                    <p id="aboutAccountDateJoined" style="color: gray; font-size:0.86em; margin-top: 0em;"></p>
                </div>
            </div>

            <div style="display: flex; align-items: center; width: 100%; padding: 0.5em 1em; gap: 0.5em;">
                <img th:src="@{/images/mapPinIcon.png}" style="object-fit: contain; height: 1.8em; width: 1.8em; pointer-events: none;">
                <div style="display: flex; flex-direction: column; justify-content: center; margin-top: 1em;">
                    <b style="font-size:0.9em;">Account based in</b>
                    <p id="aboutAccountBasedIn" style="color: gray; font-size:0.86em; margin-top: 0em;"></p>
                </div>
            </div>

            <div id="aboutAccountShowIfVerifiedDiv" class="hidden" style="display: flex; align-items: center; width: 100%; padding: 0.5em 1em; gap: 0.5em;">
                <img th:src="@{/images/blackVerifiedIcon.png}" style="object-fit: contain; height: 1.8em; width: 1.8em; pointer-events: none;">
                <b>Verified</b>
            </div>

            <div style="width: 100%; height: 100%; position: relative;">
                <div style="display: flex; justify-content: center; width: 100%; position: absolute; top: 30%;">
                        <p onclick="closeAboutAccountPopup()" style="cursor: pointer;">Close</p>
                </div>
            </div>

        </div>
        
    </div>

    <div id="accountNotFoundOrBlocksYou" class="hidden">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, but the page you are looking for does not exist.</p>
        <a href="http://localhost:3100">Go Back Home</a>
    </div>



    <p id="authenticatedUsername" style="display: none;" th:text="${authenticatedUsername}"></p>
    <p id="profileUsername" style="display: none;" th:text="${profileUsername}"></p>

    <script th:src="@{/scripts/profilePage.js}"></script>
</body>

</html>