<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Post</title>
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/styles/viewPost.css}" rel="stylesheet">
</head>

<body>

    <!--Left sidebar-->
    <div id="leftSidebar" style="height: 100%; width: 12%; border-style: solid; position: fixed; overflow-y: scroll; border-top: none;
    border-left: none; border-bottom: none; border-width: 0.01em; border-color: gray; display: flex; flex-direction: column;
    align-items: start; padding: 0.5em 1em;">
        <h1 style="font-family: Billabong; font-size:2.4em;">Megagram</h1>

        <div onclick="takeUserHome()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/homeIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Home</p>
        </div>

        <div onclick="takeUserToSearch()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/searchIcon2.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Search</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/exploreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Explore</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/reelsIcon2.png}" style="object-fit: contain; height: 2.1em; width: 2.1em;">
            <p>Reels</p>
        </div>

        <div onclick="takeUserToMessages()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/messagesIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Messages</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/blankHeart.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Notifications</p>
        </div>

        <div class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img th:src="@{/images/createIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Create</p>
        </div>

        <div onclick="takeUserToOwnProfile()" class="hoverableElement" style="display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; border-radius: 0.85em;">
            <img id="profileIconInLeftSidebar" style="object-fit: contain; height: 1.9em; width: 1.9em;">
            <p>Profile</p>
        </div>


        <div style="position: relative; height: 90%;">
            <div class="hoverableElement" style="position: absolute; top: 90%; display: flex; align-items: center; padding: 0.5em 0.35em;
        gap: 0.5em; cursor: pointer; width: 95%; height: 7.25em; border-radius: 0.85em; position: relative;">
                <img th:src="@{/images/moreIcon.png}" style="object-fit: contain; height: 1.9em; width: 1.9em;">
                <p id="toggleLeftSidebarPopupMoreOrLessText" onclick="toggleLeftSidebarPopup()">More</p>

                <div class="hidden" id="leftSidebarPopup" style="background-color: white; border-style: solid; position: absolute;
                top: -200%; left: -6%; width: 85%; padding: 0.5em 1em; border-radius: 0.85em; overflow-y: scroll">
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Settings</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Your Activity</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Saved</p>
                    <p onclick="takeUserToLogin()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Switch accounts</p>
                    <p style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none;">Log out</p>
                </div>

            </div>
        </div>
    </div>


    <!--Main Section-->
    <div id="mainSection" style="position: absolute; top: 9%; left: 19.5%; background-color: white; height: 87%; width: 75%;
    z-index: 10; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
        <div id="mainSectionLeft" onclick="toggleHasUserClickedOnMainSectionRight()" style="position: relative; top: 0%; left: 0%; height: 100%; width: 66%; border-style: solid; border-color: lightgray;
        border-top: none; border-left: none; border-bottom: none; border-width: 0.05em;">
                <img ondblclick="likePost()" id="currSlideImg" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%;">
                <img id="blackBackgroundForVids" th:src="@{/images/blackScreen.png}" class="hidden" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%;">
                <video ondblclick="likePost()" id="currSlideVid" onclick="setHasUserClickedOnVidToTrue()" class="hidden" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%;" controls></video>
                <div id="slideDotsDiv" style="position: absolute; top: 95%; left: 48%; display: flex; align-items: center;">
                </div>
                <img id="goToNextSlideArrow" onclick="goToNextSlide()" th:src="@{/images/goToNextSlideArrow.png}" style="position: absolute; top: 45%; left: 95%; height: 2em;
                width: 2em; object-fit: contain; cursor: pointer;">
                <img id="goToPreviousSlideArrow" class="hidden" onclick="goToPreviousSlide()" th:src="@{/images/goToNextSlideArrow.png}" style="transform: scaleX(-1); position: absolute; top: 45%; left: 2%; height: 2em;
                width: 2em; object-fit: contain; cursor: pointer;">
                <img id="seeTaggedAccountsIcon" onclick="toggleShowTaggedAccountsOfCurrSlide()" th:src="@{/images/seeTaggedAccountsIcon.png}" style="cursor: pointer; position: absolute;
                top: 200%; left: 1.2%; height: 5em; width: 5em; object-fit: contain;">
        </div>

        <div id="mainSectionRight" onclick="toggleHasUserClickedOnMainSectionRight()" style="position: absolute; top: 0%; left: 66%; height: 100%; width: 34%;
        display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center; width: 92%; padding: 0.5em 1em; border-style: solid; border-color: lightgray;
            border-top: none; border-left: none; border-right: none; gap: 1em; position: relative;">
                <img id="mainPostAuthorProfilePhoto" style="cursor: pointer; height: 2.5em; width: 2.5em; object-fit: contain;">
                <div style="display: flex; flex-direction: column; margin-top: 1em;">
                    <b id="postAuthorOrAuthorsText" style="cursor: pointer; max-width: 10em; overflow-wrap: break-word;"></b>
                    <p id="locationOfPostText" style="font-size: 0.8em; margin-top: 0.2em; max-width: 13em; overflow-wrap: break-word;"></p>
                    <div id="postBackgroundMusicDiv" class="hidden" style="display: flex; align-items: center; gap: 0.7em; margin-top: -1em;">
                        <p id="backgroundSongName" style="font-size: 0.8em; max-width: 13em; overflow-wrap: break-word;"><img th:src="@{/images/soundsIcon2.png}" style="pointer-events: none; object-fit: contain; height: 1em; width :1em; margin-right: 0.6em;">
                        </p>
                        <img id="playBackgroundSoundIcon" onclick="playBackgroundSound()" th:src="@{/images/playIcon.png}" style="height: 1em; width: 1em; cursor: pointer; object-fit: contain;">
                        <img id="pauseBackgroundSoundIcon" onclick="pauseBackgroundSound()" th:src="@{/images/pauseIcon.png}" class="hidden" style="height: 1em; width: 1em; cursor: pointer; object-fit: contain;">
                    </div>
                </div>
                <b id="followPostAuthorText" onclick="followPostAuthor()" class="hidden" style="position: absolute; left: 84%; top: 48%; cursor: pointer; color: #2789f2">Follow</b>
                <b id="followingPostAuthorText" onclick="unfollowPostAuthor()" class="hidden" style="position: absolute; left: 80%; top: 48%; cursor: pointer;">Following</b>
            </div>

            <div id="commentsDiv" style="overflow-y: scroll; height: 65.5%; width: 92.6%; border-style: solid; border-color: lightgray; border-top: none;
            border-left: none; border-right: none; padding: 0.5em 1em; display: flex; flex-direction: column; gap: 1em;">

            </div>

            <div style="display: flex; align-items: center; width: 93%; height: 5%; padding: 0.5em 1em; position: relative;">
                <img id="postIsNotLikedIcon" onclick="toggleLikePost()" th:src="@{/images/blankHeartWithSolidOutline.png}" class="hidden" style="height: 100%; width: 2.5em; object-fit: contain; cursor: pointer;">
                <img id="postIsLikedIcon" onclick="toggleLikePost()" th:src="@{/images/redHeartIcon.webp}" class="hidden" style="height: 80%; width: 2.5em; object-fit: contain; cursor: pointer;">
                <img th:src="@{/images/commentIcon.png}" onclick="setFocusToCommentTextarea()" style="height: 88%; width: 2.5em; object-fit: contain; cursor: pointer;">
                <img th:src="@{/images/sendPostIcon.png}" style="height: 70%; width: 2.5em; object-fit: contain; cursor: pointer;">
                <img id="postIsNotSavedIcon" onclick="toggleSavePost()" th:src="@{/images/savePostIconWithSolidOutline.png}" class="hidden" style="position: absolute; left: 90%; top: 10%; height: 70%; width: 2.2em; object-fit: contain; cursor: pointer;">
                <img id="postIsSavedIcon" onclick="toggleSavePost()" th:src="@{/images/filledBlackSavedIcon.png}" class="hidden" style="position: absolute; left: 90%; top: 10%; height: 70%; width: 2.2em; object-fit: contain; cursor: pointer;">
            </div>

            <div style="padding: 0.5em 1em; display: flex; flex-direction: column; margin-top: -0.5em;">
                <b id="postNumLikesText" onclick="showPostLikers()" style="cursor: pointer;"></b>
                <small id="relativeDateTimeOfPostText" style="color: gray;"></small>
            </div>

            <div style="width: 100%; height: 6%; display: flex; align-items: center; padding-left: 1em; gap: 0.5em;">
                <img id="authUserProfilePhotoNextToCommentTextarea" style="cursor: pointer; height: 2em; width: 2em; object-fit: contain;">
                <textarea id="textareaToAddComment" placeholder="Add a comment..." style="outline: none; border: none; font-family: Arial; padding-top: 1em; width: 65%; margin-left: 0.5em;"></textarea>
                <b id="postCommentButton" onclick="postComment()" style="cursor: pointer; color: #2789f2; margin-left: 1em;" class="hidden">Post</b>
            </div>

        </div>
    </div>

    <!--Comment Options Popup-->
    <div id="commentOptionsPopup" class="hidden" style="position: absolute; top: 38%; left: 40%; width: 25%; height: 25%; background-color: white; border-radius: 0.85em;
    z-index: 10; display: flex; flex-direction: column; align-items: center;">
        <br>
        <p>Comment Actions</p>
        <hr style="color: lightgray; width:98%;">
        <p onclick="goToCommentEditMode()" style="cursor: pointer; font-weight: bold; font-size: 0.9em; margin-top: 0.5em; margin-bottom: 0.5em;">Edit</p>
        <hr style="color: lightgray; width:98%;">
        <p onclick="deleteComment()" style="color: red; cursor: pointer; font-weight: bold; font-size: 0.9em; margin-top: 0.5em; margin-bottom: 0.5em;">Delete</p>
        <hr style="color: lightgray; width:98%;">
        <p onclick="cancelOptionsPopupForComment()" style="cursor: pointer; font-size: 0.9em; margin-top: 0.5em; margin-bottom: 0.5em;">Cancel</p>
    </div>

    <!--Likes Options Popup for Comments/Post-->
    <div id="likesPopup" class="hidden" style="position: absolute; top: 25%; left: 40%; width: 25%; height: 45%; background-color: white; border-radius: 0.85em;
    z-index: 10; display: flex; flex-direction: column; align-items: center; overflow-y: scroll;">

        <div id="topSectionOfLikesPopup" style="display: flex; align-items: center; justify-content: center; border-style: solid; border-color: lightgray;
        border-top: none; border-left: none; border-right: none; width: 92%; padding: 0.6em 1em; position: relative">
            <b>Likes</b>
            <img onclick="closeLikesPopup()" th:src="@{/images/thinGrayXIcon.png}" style="height: 1.6em; width: 1.6em; cursor: pointer; object-fit: contain; position: absolute; left: 92%; top: 20%;">
        </div>

        
    </div>

    <div id="accountNotFoundOrBlocksYou" class="hidden">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, but the page you are looking for does not exist.</p>
        <a href="http://localhost:3100">Go Back Home</a>
    </div>


    <img id="darkScreenCoveringEntirePage" th:src="@{/images/blackScreen.png}" class="" style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; opacity: 0.75">
    <img id="darkScreenCoveringRightSideOfPage" th:src="@{/images/blackScreen.png}" class="hidden" style="position: absolute; top: 0%; left: 14.2%; height: 100%; width: 86%; opacity: 0.75">
    <b id="changeBackgroundText" onclick="changeBackground()" style="position: absolute; top: 3%; left: 88%; font-size: 0.7em; cursor: pointer; background-color: black;
    color: white; cursor: pointer; padding: 0.5em 1em; user-select: none;">Change Background</b>


    <p id="authenticatedUsername" class="hidden" th:text="${authenticatedUsername}"></p>
    <p id="postId" class="hidden" th:text="${postId}"></p>

    <script th:src="@{/scripts/viewPost.js}"></script>
    <script type="module">
        import { v4 as uuidv4 } from 'https://cdn.jsdelivr.net/npm/uuid@9.0.0/dist/esm-browser/index.js';
        window.uuidv4 = uuidv4;
    </script>
</body>

</html>