<div id="postCaption" style="display: flex; align-items: start; position: relative; gap: 0.7em; margin-top: -0.5em;
width: 100%;">
    <img th:src="@{/images/profilePhoto.png}" style="cursor: pointer; height: 2.5em; width: 2.5em; object-fit: contain">
    <div style="display: flex; flex-direction: column; width: 100%;">
        <p style="font-size: 0.8em; max-width: 80%; overflow-wrap: break-word;">
            <b style="cursor: pointer;">hurdles</b> another day, another slay. we keep the streak alive!!!
        </p>
        <p style="color: gray; font-size: 0.7em; margin-top: -1em;">3d</p>
    </div>
</div>