@font-face {
    font-family: Billabong;
    src: url('fonts/billabong_regular.otf');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: Arial;
}

.hidden {
    display: none !important;
}

.hoverableElement:hover {
    background-color: #dbdbdb;
}

.blueButton {
    font-weight: bold;
    color: white;
    border-radius: 0.4em;
    background-color: #2789f2;
    border-style: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.blueButton:hover {
    opacity: 0.45;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232324 !important;
        color: white !important;
    }

    
    .iconsToBeAdjustedForDarkMode {
        filter: brightness(5) contrast(0) !important;
    }

    #leftSidebar {
        background-color: #232324 !important;
        color: white !important;
    }

    #leftSidebarPopup {
        background-color: #232324 !important;
        color: white !important;
    }

    .popup {
        background-color: #232324 !important;
        color: white !important;
    }

}
